<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
      <payment>
            <slimcdpayment>
              <active>1</active>
              <model>Slimcd\Payment\Model\Payment</model>
               <title>SlimCD Payment Gateway</title>
               <order_status>pending_payment</order_status><!-- set default order status-->
            </slimcdpayment>
     </payment>
  </default>
</config>